{% extends 'base.html' %}

{% block bodyblock %}
      <div class="starter-template">
        <h1>Bootstrap starter template</h1>
        <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
      </div>

      <form class="form-upload" id="target" action="" method="GET" enctype="multipart/form-data">
        <div class="upload-area">
            <img src="{{ url_for('static', filename='predict/')}}{{ img_name }}">
        </div>
        <img class="image-preview" id="file-preview">
        <div class="js-upload-filename">ファイルが未選択です</div>
        <button type="button" id="cancel-btn">back</button>
      </form>
      
{% endblock bodyblock %}